@import './colors';

@font-face {
  font-family: 'doom';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/font.woff') format('woff');
}

body {
  background-color: $black;
  color: $white;
  font-family: 'doom', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
