@import './colors';

@font-face {
  font-family: 'fff_forwardregular';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/media/fonts/fffforwa.woff2') format('woff2'),
    url('/assets/media/fonts/fffforwa.woff') format('woff');

}

body {
  background-color: $black;
  color: $white;
  font-family: 'fff_forwardregular', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
