$black: #000000;
$white: #ffffff;
$red: #bc0000;

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "8 Bit Party Regular";
  src: url("/assets/fonts/8_bit_party.eot?") format("eot"),
    url("/assets/media/fonts/8_bit_party.woff") format("woff"),
    url("/assets/media/fonts/8_bit_party.ttf") format("truetype"),
    url("/assets/media/fonts/8_bit_party.svg#8-Bit-Party") format("svg");
}

body {
  background-color: $black;
  color: $white;
  font-family: '8 Bit Party Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.content {
  position: relative;
}

.title {
  display: block;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 8px;
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 20px 0;

  thead {
    border-bottom: 1px solid $red;
    border-top: 1px solid $red;
  }

  td, th {
    width: 50%;
    padding: 8px;
  }
}

.key {
  float: left;
  color: $red;
}

.action {
  float: right;
}

.button {
  border: 1px solid $red;
  color: $red;
  cursor: pointer;
  padding: 16px 0;
  text-align: center;

  &:hover {
    border: 1px solid $white;
    color: $white;
  }
}
